/* Grid 1 example */
.grid__1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /*v*/
  grid-auto-rows: 100px;
  gap: 3px;
  border: 1px solid #071a52;
}

/* default */
.grid div {
  background-color: #17b978;
}
.grid div:nth-child(even) {
  background-color: #086972;
}

pre {
  background-color: #071a52;
  text-align: left;
  padding: 20px 0;
  color: #17b978;
}

.back a {
  padding: 20px;
  text-decoration: none;
}
